*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color: rgb(167, 232, 255);
    /* background: linear-gradient(white,skyblue); */
    background: linear-gradient(skyblue,rgb(255, 255, 255),rgb(128, 199, 235),pink,white);
 }

.container{
    margin: 0 auto;
    
    max-width: 1200px;
   
    height: 100vh;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    padding: 20px 40px;
}

h1{
    font-size: 2.8rem;
    text-align: center;
    color: rgb(178, 215, 45);
}

.btn{
    width: 90px;
    height: 90px;
    border-radius: 25rem;
    font-size: 1.4rem;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 100px rgb(197, 255, 245);
    /* color: white;
    border: 1px solid white; */
}
.btn-c{
    background-color: rgb(255, 55, 0);
    color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    border-radius: 25rem;
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
    border: none;
}
.result{
    width: 320px;
    height: 70px;
    padding: 25px 45px;
    border-radius: 50px;
    font-size: 1.3rem;
    border: none;
    background-color: rgb(255, 255, 255);
}
